---
import type { GetStaticPathsOptions, Page } from 'astro';

import { getStaticPathsBlogList } from '~/utils/blog';
import BlogLayout from '~/layouts/BlogLayout.astro';
import CardBlog from "~/components/Card/Blog.astro";

interface Props {
  page: Page;
}

const { page } = Astro.props;
const {currentPage, data: posts} = page;

const metadata = {
  title: `Blog${currentPage > 1 ? ` - Page ${currentPage}` : ''}`,
};

export async function getStaticPaths(options: GetStaticPathsOptions) {
  return await getStaticPathsBlogList(options);
}
---

<BlogLayout {...Astro.props} activeMenu='Blog' metadata={metadata} type='blog'>
  <div class="container pt-10 pb-16 lg:pb-28 lg:pt-20 space-y-16 lg:space-y-28">
    <div>
      {posts && <div class="grid gap-6 md:gap-x-7 md:gap-y-8 lg:grid-cols-2 md:gap-8 lg:gap-10">
        {posts.map(post =>
          <CardBlog post={post}/>)}
      </div>}
    </div>
  </div>
</BlogLayout>
